<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="resources/images/icons/favicon.ico" rel="shortcut icon" />
    <title><%= appName %></title>
    <base href="/"></base>
    <link href="dist/styles.min.css" rel="stylesheet"></link>
    <script src="dist/build.js"></script>
</head>
<body ng-app="<%= appName %>App">
  <div class="container">
    <div ui-view></div>
  </div>
</body>
</html>
